.contact-section {
  padding: 80px 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
}
.contact {
  padding: 60px 10%;
  text-align: center;
  align-items: center;
  position: static;
  margin-top: 20px;
}

.section-text {
  color: gray;
  font-size: 14px;
  text-align: center;
  color: #777;
  letter-spacing: 2px;
}

.section-title {
  font-size: 36px;
  color: #3b82f6;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  margin: 10px 0 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #2563eb;
}

.contact-info {
  text-align: center;
  font-size: 16px;
}