@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;

}

a:hover{
    color: skyblue;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: skyblue;
}


.navbar{
    display: flex;
    height: 70px;
    padding: 0px 100px;
    align-items: center;

}
.logo{
    width: 40%;
    font-weight: 600;
    font-size: 30px;
    color: skyblue;

}
.menu_bar{
    display: flex;   
    width: 60%;
    justify-content: space-around;
    list-style: none;
}
.menu_bar li{
    font-size: 20px;
}
.navbar-menu{
    display: none;
}
@media(max-width:1024px){
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
   
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: fixed;
        right: 30px;
        top: 20px;
    }
    .hamburger i{
        font-size: 35px;
        padding: 4px;
    }
    .navbar-menu .logo{
        margin-top: 20px;
        padding-left: 10px;
    }
    .navbar-menu .menu-bar{
        display: flex;
        flex-direction: column;
        background-color: skyblue;
        position: fixed;
        right: 0;
        top: 70px;
        padding: 10px;
        gap: 10px;
        border-radius: 5px;
        margin-right: -500px;
    }
    .navbar-menu .menu-bar{
        margin-right: 0px;
    }
    .navbar-menu .menu-bar li{
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;

    }
}
@media (max-width: 767px) {
    .logo{
        text-wrap: nowrap;
    }
    .navbar-menu .logo{
        margin-top: 25px;
        padding-left: 10px;
        font-size: 25px;
    }
    
}



