.sec-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-2-1{
    gap: 50px; 
    align-items: center;
}
.sec-2-1 span{
    font-size: 30px;
    
}
.sec-2-1 h3{
    font-size: 50px;
    display: flex;
    color: skyblue;
}

.sec-2-1 img{
    width: 200px;
    border-radius: 30%;
    border-style: ridge;
    gap: 50px;
    display: flex;
    align-items: row;
}

.sec-2-2{
    width: 20%;
    height: 25vh;
    border: 2px solid black;
    /* border-radius: 50%; */
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
.sec-2-3{
    text-align: center;
    align-items: center;
}