* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.projects {
  padding: 80px 10%;
  text-align: center;
}

.subtitle {
  color: #777;
  letter-spacing: 2px;
}

.title {
  font-size: 40px;
  margin: 10px 0 40px;
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
}

/* 3D CARD */
.card {
  width: 300px;
  height: 350px;
  perspective: 1000px;
  margin-bottom: auto;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:hover .card-inner {
  transform: rotateY(180deg) scale(1.05);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-front {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}

.card-back {
  background: #ffffff;
  transform: rotateY(180deg);
  flex-direction: column;
}

.card-back p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card-back a {
  text-decoration: none;
  padding: 10px 18px;
  background: #667eea;
  color: white;
  border-radius: 6px;
  font-size: 14px;
}