.sec-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.sec-3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.skills-section {
  display: flex;
  gap: 60px;                 /* space between boxes */
  justify-content: center;
  margin-top: 50px;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
  margin: 40px auto;
}

.skills-box {
  width: 320px;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.skills-box h3 {
  text-align: center;
  margin-bottom: 15px;
}

.skills-box ul {
  list-style: none;
  padding: 0;
}

.skills-box li {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }
}