.sec-1{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 60px;
}
.sec-1-1{
    margin-left: 100px;
    display: flex;
}
.sec-1-1 img{
    width: 200px;
    border-radius: 60%;
    display: flex;
}

.sec-1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
}
.sec-1-2-1{
    font-weight: 600;
    gap: 10px;
}
h1{
    font-size: 50px;
    color: skyblue;
}
.sec-1-2-3{
    font-weight: 800;
    font-size: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 20pt;
    text-decoration: dotted;   
}


.social{
    width: 50px;
    display: flex;
    gap: 30px;
    margin: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

p{
    font-size: 18px;
    width: 90%;
    gap: 100px;
    margin: 50px 0;
    line-height: 2.3;
    padding: 10px;
    padding-top: 0;

}
.btn > :nth-child(1){
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn > :nth-child(1):hover{
    background-color: black;
    color: white;
}
.btn > :nth-child(2){
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid rgb(2, 7, 8);
    cursor: pointer;
    transition: all 0.3s ease;

}
.btn > :nth-child(2):hover{
    background-color: black;
    color: white;
}

.btn{
    display: flex;
    gap: 20px;
    margin: 30px;
}
.social:hover{
    transform: scale(0.9);
    transition: all 0.3s ease;

}
@media(max-width:1024px){
    .sec-1{
        display: flex;
        height: 90vh;
        align-items: center;
        gap: 60px;
        flex-direction: column;
    }
    p{
        text-align: center;
    }
    .sec-1-1{
      margin-left: 0px;
    }
   .sec-1-2{
    align-items: center;
    padding-bottom: 50px;
   }
}
@media(max-width:767px){
    .sec-1{
        display: flex;
        height: 90vh;
        align-items: center;
        gap: 60px;
        flex-direction: column;
    }
    h1{
        font-size: 40px;
    }
    p{
        text-align: center;
    }
    .sec-1-1{
      margin-left: 0px;
    }
    .sec-1-1 img{
      width: 300px;
    }
   .sec-1-2{
    align-items: center;
   }
}
